{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2 text-white">
			Un email a été amené á travers le mail entré pour reinitialiser votre Password. Donc veuillez consulter votre boite electronique.
			Comme nous sommes en Local, donc veuillez copier le lien dans la console de votre éditeur.
		  </p>
		  <p class="m-auto p-2 text-white">
		    Si vous n avez pas recu d' Email alors il faut verifier votre Email ou l'Email entré ne correspond á votre Compte
		  </p>
		  <p class="m-auto p-2 text-white"><a class="btn btn-dark" href="{% url 'scraping' %}">Retour á la page d'acceuil</a></p>
	</div>
</div>

{% endblock %}